<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
    <h1 class = "change">Details About Me</h1>
    <p>My name is <strong>Andrew Le</strong> and I am currently a <strong>senior</strong> at <em>The University of Maryland</em>.
        I am an information systems major at the <em>Robert H. Smith School of Business</em>.</p>

    <h2>Where I Am From</h2>
    <p>I am originally from <em>Baltimore</em> but moved to <em>College</em> Park for School.
        My parents are originally from <strong>Vietnam</strong> and moved to the <strong>United States</strong> in the twenties.</p>

    <!--creates an unordered list about places I have traveled to-->
    <p>Places I Have Traveled To:</p>
    <ul>
        <li>Vietnam</li>
        <li>California</li>
        <li>New York</li>
        <li>Texas</li>
    </ul>

    <!--Creates an ordered list of my favorite shapes-->
    <p>Here is a small list of my favorite shapes.</p>
    <p>My Favorite Shapes:</p>
    <ol>
        <li>Triangle</li>
        <li>Rectangle</li>
        <li>Square</li>
        <li>Circle</li>
    </ol>

    <!--creates a table about colors that are liked and disliked-->
    <p>Here is a list about colors I like.</p>
    <table>
        <tr>
            <th>Colors</th>
            <th>Do I Like the Color </th>
        </tr>
        <tr>
            <td>Black</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>White</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>Orange</td>
            <td>No</td>
        </tr>
        <tr>
            <td>Purple</td>
            <td>Yes</td>
        </tr>
    </table>

    <!--This includes 3 different links into the page-->
    <p>These are links to my hello page and favorite websites.</p>
    <p>A link to my <a href="/hello">hello page</a>.</p>
    <p>A link to <a href="https://www.coolmathgames.com/" target="blank">Cool Math</a> web page.</p>
    <p>A link to <a href="https://www.y8.com/">y8</a> web page.</p>

    <!--This inserts the smith logo with the dimensions.-->
    <p>Here is a picture of the Smith logo.</p>
    <img class="logo" src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
          alt="Smith Logo">

    <p id="special">Interesting Fact: I love BMGT 407!!</p>
</body>
</html>